body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #eec07b;
  }
  
  .header {
    background-color: #422308;
   
    padding: 20px;
    text-align: center;
  }
  
  .header h3 {
    color: #f2eeee;
  }
  
  .links {
    margin-top: 10px;
  }
  
  .links a {
    text-decoration: none;
    color: #0066cc;
    margin-right: 20px;
  }
  
  .form {
    margin: 20px;
    
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  
  form textarea {
    resize: vertical;
  }
  
  form input[type="submit"] {
    background-color: #0066cc;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
  }
  
  .links p {
    text-align: center;
    margin-top: 20px;
  }
  
  .links a:hover {
    color: #004080;
  }

  .links {
    margin-top: 10px;
    
  }
  
  .links a {
    text-decoration: none;
    color: #e6d9d9;
    margin-right: 20px;
    font-weight: bold;
  }
  
  .links-b {
    margin-top: 10px;
    text-align: center;
   
  }
  
  .links-b a {
    text-decoration: none;
    color: #010c16;
    margin-right: 20px;
  }
  
  .links-b a:hover {
    color: #004080;
  }
  
